/* index.css or App.css */
@import "tailwindcss";
html, body, #root {
  height: 100%;
} 
@layer utilities {
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-4px); }
    40%, 80% { transform: translateX(4px); }
  }

  .animate-shake {
    animation: shake 0.4s ease-in-out;
  }
}
